* {
    margin: 0;
}
body {
    font-family:"Roboto Condensed",Helvetica,Arial,sans-serif;
    background-image: url(../imagens/fundoLogin.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}
.header{
    height: 120px;
    width: 100%;
}

.container{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 1000;
    background-color: black;
    border-bottom: 1px solid white;
}

.container li{
    color: white;
    float: left;
    list-style: none;
}

.container a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    width: 80px;
}

.container a:hover{
    color:rgb(64, 64, 255);
    border-radius: 2px;
    border: 10px solid none;
}

.container img{
    padding-left: 10px;
    padding-top: 8px;
    width: 100px;

}

/*     SlideShow */       

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 950px;
  background-color: rgba(0, 0, 0, 0.651);
  height: 550px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 20px;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: 22px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    padding: 20px;
    color: black;
    background-color: rgb(255, 255, 255);
}

/* Caption text */
.text {
    height: 100%;
    color: #f2f2f2;
    font-size: 16px;
    padding: 50px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: 800;
}

.text img{
    width: 450px;
    border: 1px solid none;
    border-radius: 10px     ;
    padding: 20px;
}

.text h1{
    font-weight: 800;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Divs com info sobre os times */


.footer{
    margin-top: 20px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

.footer-left{
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left img{
    width: 200px;
}

.footer-right{
    display: flex;
    background-color: black;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-right img{
    width: 60px;
    height: 60px;
}

.footer-icons a:hover{
    border: 2px solid white;
}

.footer-icons{
    margin-top: 3%;
    display: flex;
    background-color: black;
    width: 50%;
    justify-content: space-evenly;
}

.footer-links{
    display: flex;
    background-color: black;
    width: 100%;
    height: 30px;
    justify-content: space-evenly;
}
.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.footer-button{
    align-items: center;
    background-color: black;
    margin-left: 100px;
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 150px;
    background-image: url(../imagens/seta.png);
    background-size: 70%;
    background-position-x: 8px;
    background-position-y: 10px;
    background-repeat: no-repeat;
}