* {
    margin: 0;
}
body {
    font-family:"Roboto Condensed",Helvetica,Arial,sans-serif;
    background-image: url(../fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.header{
    height: 120px;
    width: 100%;
}

.container{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 1000;
    background-color: black;
    border-bottom: 1px solid white;
}

.container li{
    color: white;
    float: left;
    list-style: none;
}

.container a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    width: 80px;
}

.container a:hover{
    color:rgb(64, 64, 255);
    border-radius: 2px;
    border: 10px solid none;
}

.container img{
    padding-left: 10px;
    padding-top: 8px;
    width: 100px;

}

.container-center{
    display: flex;
    align-items: flex-end;
}

.container-chart{
    margin-top: 3%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 800px;
    width: 100%;
    background-color: black;
}


#barChart{
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    width: 95%;
    height: 450px;
}

.carousel{
    width: 100%;
}
.container-artilheiros{
    height: 800px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    border: 1px solid white;
}
.container-artilheiros img{
    width: 150px;
    padding: 15px;
}
.container-artilheiros h1{
    padding-top: 20px;
}

.container-artilheiros p{
    text-align: justify;
    width: 400px;
}

.footer{
    border-top: 1px solid white;
    margin-top: 20px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

.footer-left{
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left img{
    width: 200px;
}

.footer-right{
    display: flex;
    background-color: black;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-right img{
    width: 60px;
    height: 60px;
}

.footer-icons a:hover{
    border: 2px solid white;
}

.footer-icons{
    margin-top: 3%;
    display: flex;
    background-color: black;
    width: 50%;
    justify-content: space-evenly;
}

.footer-links{
    display: flex;
    background-color: black;
    width: 100%;
    height: 30px;
    justify-content: space-evenly;
}
.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.footer-button{
    align-items: center;
    background-color: black;
    margin-left: 100px;
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 150px;
    background-image: url(../imagens/seta.png);
    background-size: 70%;
    background-position-x: 8px;
    background-position-y: 10px;
    background-repeat: no-repeat;
}