*{
    margin: 0;
}

body {
    font-family:"Roboto Condensed",Helvetica,Arial,sans-serif;
    background-image: url(../imagens/fundoLogin.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;
    background-attachment: fixed;
}

.header{
    height: 120px;
    width: 100%;
}

.container{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 1000;
    background-color: black;
    border-bottom: 1px solid white;
}

.container li{
    color: white;
    float: left;
    list-style: none;
    padding-left: 50px;
}

.container a{
    text-decoration: none;
    color: white;
    width: 80px;
}

.container a:hover{
    color:rgb(64, 64, 255);
    border-radius: 2px;
    border: 10px solid none;
}

.container img{
    padding-left: 10px;
    padding-top: 8px;
    width: 100px;
}

.container-inicio{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-finalizarJogo{
    margin-top: 15%;
    display: flex;
    align-items: center;
    height: 450px;
    display: none;
}

#finalizarJogo{
    background-color: black;
    border: 1px solid white;
    border-radius: 400px;
    width: 60%;
    font-size: 50px;
    font-weight: 900;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    animation: movPerdeu 8s infinite alternate;
}

@keyframes movPerdeu {
    from {
        color: black;
        left: 0%
    }
    to {
        left: 39%
    }
}
    
#finalizarJogo p{
    color: red;   
    -webkit-text-stroke: 2px white; 
}

.mid-Container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
    
}

.container1-mid{
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid white;
    background-color: black;
    height: 400px;
    width: 50%;
    color: white;
}

.container1-mid h1{
    font-weight: 1000;
    -webkit-text-stroke: 1px blue;
}

.container1-mid p{
    font-size: 28px;
}

.container1-mid select{
    width: 20%;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.container1-mid button{
    margin-top: 20px;
    background-color: black;
    border:1px solid white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-size: 20px;
    color: white;
}

.container1-mid button:hover{
    background-color: white;
    color: black;
}

.container1-mid option{
    font-size: 20px;
}

.container-ganhador{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

#vencedor{
    background-color: black;
    border: 3px solid white;
    border-radius: 400px;font-size: 50px;
    font-weight: 900;
    width: 50%;
    height: 400px;
    position: relative;
    animation: movPerdeu 4s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#vencedor p{
    color: white;
    -webkit-text-stroke: 3px green;
}

#vencedor img{
    border: 1px solid;
    border-radius: 10px;
    width: 250px;
    padding-top: 15px;
}

#vencedor button{
    background-color: black;
    width: 100px;
    height: 60px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
}

@keyframes movPerdeu {
    from {
        color: black;
        left: 0%
    }
    to {
        left: 49%
    }
}

.footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}

.footer-left{
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left img{
    width: 200px;
}

.footer-right{
    display: flex;
    background-color: black;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-right img{
    width: 60px;
    height: 60px;
}

.footer-icons a:hover{
    border: 2px solid white;
}

.footer-icons{
    margin-top: 3%;
    display: flex;
    background-color: black;
    width: 50%;
    justify-content: space-evenly;
}

.footer-links{
    display: flex;
    background-color: black;
    width: 100%;
    height: 30px;
    justify-content: space-evenly;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.footer-button{
    align-items: center;
    background-color: black;
    margin-left: 100px;
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 150px;
    background-image: url(../imagens/seta.png);
    background-size: 70%;
    background-position-x: 8px;
    background-position-y: 10px;
    background-repeat: no-repeat;
}
